<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reseting Password</title>
</head>
<body>
    <h1>Request to changing password</h1>
    <p>Hello, {{UserName}}</p>
    <p>You received this email because we received a request for changing password for your account</p>
    <br/>
    <p>To reset your password, please click the link below:</p>
    <p>
        <a href="{{ResetPasswordLink}}">Reset Password</a>
    </p>
    <p>If you did not reset your password, please contact support</p>
</body>
</html>