ASPNETCORE_ENVIRONMENT=Production

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD

JWT_SECRET=CHANGE_ME_LONG_RANDOM_JWT_SECRET

SMTP_USERNAME=no-reply@example.com
SMTP_PASSWORD=CHANGE_ME_SMTP_PASSWORD