<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset your Raycynix account password</title>
</head>
<body>
    <h1>Password reset request</h1>
    <p>Hello, {{UserName}}</p>
    <p>You received this email because we received a request to change the password for your account.</p>
    <br/>
    <p>To reset your password, please click the link below:</p>
    <p>
        <a href="{{ResetPasswordLink}}">Reset Password</a>
    </p>
    <p>If you did not request a password reset, please contact support.</p>
</body>
</html>
